<div class="cameracontrol-buttons">
  <a href="" class="button"></a>
  <a href="" class="sel-keypad-up button" ng-mousedown="sendFECC('start', 'tilt', 'up')" ng-mouseup="sendFECC('stop', 'tilt', 'up')">
      <span class="cameracontrol-action">Up</span>
  </a>
  <a href="" class="button"></a>
  <br>
  <a href="" class="sel-keypad-left button" ng-mousedown="sendFECC('start', 'pan', 'left')" ng-mouseup="sendFECC('stop', 'pan', 'left')">
      <span class="cameracontrol-action">Left</span>
  </a>
  <a href="" class="button"></a>
  <a href="" class="sel-keypad-right button" ng-mousedown="sendFECC('start', 'pan', 'right')" ng-mouseup="sendFECC('stop', 'pan', 'right')">
      <span class="cameracontrol-action">Right</span>
  </a>
  <br>
  <a href="" class="button"></a>
  <a href="" class="sel-keypad-down button" ng-mousedown="sendFECC('start', 'tilt', 'down')" ng-mouseup="sendFECC('stop', 'tilt', 'down')">
      <span class="cameracontrol-action">Down</span>
  </a>
  <a href="" class="button"></a>
  <br>
  <a href="" class="sel-keypad-zoom-out button" ng-mousedown="sendFECC('start', 'zoom', 'out')" ng-mouseup="sendFECC('stop', 'zoom', 'out')">
      <span class="cameracontrol-action">-</span>
  </a>
  <a href="" class="button"></a>
  <a href="" class="sel-keypad-zoom-in button" ng-mousedown="sendFECC('start', 'zoom', 'in')" ng-mouseup="sendFECC('stop', 'zoom', 'in')">
      <span class="cameracontrol-action">+</span>
  </a>
  <br>
</div>
